---
import heroImage from "../assets/img/hero2.png"
import { Image } from 'astro:assets';
import IndexLayout from "../layouts/index.astro"
import logoBmw from "../assets/img/logo-bmw.png"
import logoPorsche from "../assets/img/logo-porsche.png"
import logoMercedes from "../assets/img/logo-mercedes.png"
import logoVolkswagen from "../assets/img/logo-volkswagen.png"
import logoLamborghini from "../assets/img/logo-lamborghini.png"
import carGallardo from "../assets/img/Gambar-mobil/car-1.jpg"
import carScirocco from "../assets/img/Gambar-mobil/car-2.jpg"
import carBmw435i from "../assets/img/Gambar-mobil/car-3.jpg"
import carMercyG63 from "../assets/img/Gambar-mobil/car-4.jpg"
import carCarrera from "../assets/img/Gambar-mobil/car-5.jpg"
import CarImage from "../components/ImageCar.astro"
import HeroSection from "../components/heroSection.astro"
---

<IndexLayout>
			<HeroSection style={{ bgParrent:"bg-sky-950", bgChild:"bg-white" }}>
           	 	<Image slot="image-section" src={heroImage} alt="A bird sitting on a nest of eggs." />
			</HeroSection>
			<section id="logo-brand" class="p-10">
				<div id="efek" class="flex bg-neutral-100 shadow-lg justify-evenly flex-wrap border py-5 rounded-bl-3xl rounded-tr-3xl">
					<div class="w-1/3  lg:w-1/5">
						<Image  class="image w-full grayscale hover:grayscale-0 transition hover:scale-110" src={logoBmw} alt="brand-bmw"/>
					</div>
					<div class="w-1/3  lg:w-1/5 flex justify-center">
						<Image class="image sm:w-36 w-20  grayscale hover:grayscale-0 transition hover:scale-110" src={logoPorsche} alt="brand-porsche"/>
					</div>
					<div class="w-1/3  lg:w-1/5">
						<Image class="image w-full grayscale hover:grayscale-0 transition hover:scale-110" src={logoLamborghini} alt="brand-lamborghini"/>
					</div>
					<div class="w-1/3  lg:w-1/5">
						<Image class="image w-full grayscale hover:grayscale-0 transition hover:scale-110" src={logoMercedes} alt="brand-mercedes"/>
					</div>	
					<div class="w-1/3  lg:w-1/5">
						<Image class="image w-full grayscale hover:grayscale-0 transition hover:scale-110" src={logoVolkswagen} alt="brand-mercedes"/>
					</div>	
				</div>
			</section>
			<section id="gallery" class="bg-black pt-16 pb-10">
				<div class="flex flex-wrap ">
					<CarImage url={carGallardo} style={{ parrent:"overflow-hidden w-full transition lg:w-1/2 relative", content: "sm:text-7xl" }} text="Lamborghini Gallardo"/>
					<div class="w-full lg:w-1/2 mt-5 lg:mt-0 flex flex-wrap gap-3 justify-center">
						<CarImage url={carScirocco} style={{ parrent:"overflow-hidden w-[45%] transition  relative", content: "sm:text-4xl" }} text="Sciroco"/>
						<CarImage url={carMercyG63} style={{ parrent:"overflow-hidden w-[45%] transition  relative", content: "sm:text-4xl" }} text="Mercedes G63"/>
						<CarImage url={carBmw435i} style={{ parrent:"overflow-hidden w-[45%] transition  relative", content: "sm:text-4xl" }} text="Bmw 435i"/>
						<CarImage url={carCarrera} style={{ parrent:"overflow-hidden w-[45%] transition relative", content: "sm:text-4xl" }} text="Porsche Carrera"/>
						
					</div>
				</div>
				<div class="pt-5 flex justify-between px-16 items-center  flex-wrap gap-3">
					<div class="text-white w-full md:w-1/2">
						<p class=" text-3xl font-semibold text-orange-500">INVENTORY</p>
						<p class="py-3 text-xl">Find out more about your favorite car!</p>
					</div>
					<div class="w-full md:w-auto flex justify-end">
						<a href="/my-cars/allCars" class="transition inline-block py-2 px-11 text-lg rounded-lg  text-orange-500 hover:text-white hover:bg-orange-500  text-center border-orange-500 ring-2 ring-orange-500">View All</a>
					</div>
				</div>
			</section>
			
	<!-- <script>
		// Navbar Fixed
		window.onscroll = function () {
		const header = document.querySelector("header");
		const fixedNav = header.offsetTop;

		const efek = document.getElementById("efek")
	
		const imageBrand = document.getElementsByClassName("image")

		if (window.pageYOffset > fixedNav) {
			header.classList.add("navbar-fixed");
		} else {
			header.classList.remove("navbar-fixed");
		}
		if(window.pageYOffset > 190){
			Array.from(imageBrand).forEach((el) => el.classList.add("efek"))
		}
		else{
			Array.from(imageBrand).forEach((el) => el.classList.remove("efek"))
		}

		
	}
	</script> -->
</IndexLayout>

