---
import "../style/custom.css";
import heroImage from "../assets/img/hero2.png"
import { Image } from 'astro:assets';
import IndexLayout from "../layouts/index.astro"
import logoBmw from "../assets/img/logo-bmw.png"
import logoPorsche from "../assets/img/logo-porsche.png"
import logoMercedes from "../assets/img/logo-mercedes.png"
import logoVolkswagen from "../assets/img/logo-volkswagen.png"
import logoLamborghini from "../assets/img/logo-lamborghini.png"
import carGallardo from "../assets/img/Gambar-mobil/car-1.jpg"
import carScirocco from "../assets/img/Gambar-mobil/car-2.jpg"
import carBmw435i from "../assets/img/Gambar-mobil/car-3.jpg"
import carMercyG63 from "../assets/img/Gambar-mobil/car-4.jpg"
import carCarrera from "../assets/img/Gambar-mobil/car-5.jpg"
import CarImage from "../components/ImageCar.astro"
---

<IndexLayout>
			<section id="hero-section" class="bg-neutral-100 justify-between pb-14 px-10 container">
				<div class="flex-wrap  bg-white  rounded-3xl   flex">
					<div class="text-hero  w-full lg:w-1/2 translate-y-10 lg:p-16  p-5">
						<p class="text-xl font-mono">Catch me if you can! Spotted the beast on the streets, where dreams meet horsepower.</p>
						<p class="text-md ">Some cars are meant to be seen, not just driven. Spotted perfection.</p>
					</div>
					<div class="image-hero w-full lg:w-1/2 	">
						<Image   src={heroImage} alt="A bird sitting on a nest of eggs." />
					</div>
				</div>
			</section>
			<section id="logo-brand" class="p-10">
				<div class="flex bg-neutral-100  justify-evenly flex-wrap border py-5 rounded-3xl">
					<div class="w-1/3  lg:w-1/5">
						<Image class="w-full grayscale hover:grayscale-0 transition hover:scale-110" src={logoBmw} alt="brand-bmw"/>
					</div>
					<div class="w-1/3  lg:w-1/5 flex justify-center">
						<Image class="sm:w-36 w-20  grayscale hover:grayscale-0 transition hover:scale-110" src={logoPorsche} alt="brand-porsche"/>
					</div>
					<div class="w-1/3  lg:w-1/5">
						<Image class="w-full grayscale hover:grayscale-0 transition hover:scale-110" src={logoLamborghini} alt="brand-lamborghini"/>
					</div>
					<div class="w-1/3  lg:w-1/5">
						<Image class="w-full grayscale hover:grayscale-0 transition hover:scale-110" src={logoMercedes} alt="brand-mercedes"/>
					</div>	
					<div class="w-1/3  lg:w-1/5">
						<Image class="w-full grayscale hover:grayscale-0 transition hover:scale-110" src={logoVolkswagen} alt="brand-mercedes"/>
					</div>	
				</div>
			</section>
			<section id="gallery" class="bg-black py-16">
				<div class="flex flex-wrap ">
					<CarImage url={carGallardo} style={{ parrent:"w-full transition lg:w-1/2 relative", content: "sm:text-7xl" }} text="Lamborghini Gallardo"/>
					<div class="w-full lg:w-1/2 mt-5 lg:mt-0 flex flex-wrap gap-3 justify-center">
						<CarImage url={carScirocco} style={{ parrent:"w-[45%] transition  relative", content: "sm:text-4xl" }} text="Sciroco"/>
						<CarImage url={carMercyG63} style={{ parrent:"w-[45%] transition  relative", content: "sm:text-4xl" }} text="Mercedes G63"/>
						<CarImage url={carBmw435i} style={{ parrent:"w-[45%] transition  relative", content: "sm:text-4xl" }} text="Bmw 435i"/>
						<CarImage url={carCarrera} style={{ parrent:"w-[45%] transition relative", content: "sm:text-4xl" }} text="Porsche Carrera"/>
						
					</div>
				</div>
			</section>
			
	<script>
		// Navbar Fixed
		window.onscroll = function () {
		const header = document.querySelector("header");
		const fixedNav = header.offsetTop;

		if (window.pageYOffset > fixedNav) {
			header.classList.add("navbar-fixed");
		} else {
			header.classList.remove("navbar-fixed");
		}
		};
	</script>
</IndexLayout>

